In [1]:
import influxdb
import pandas as pd
from influxdb import InfluxDBClient
import json
from datetime import datetime

<h2>retrieving integration data from influx and storing in postress</h2>
This notebook stores all data about number of integrations in the last over 2 years, grouped by 1 hour
Data is stored in cvs file, then parsed by another notebook and stored in postresSQL

In [3]:
auth = json.load(open('coin_credentials'))
coin_client = InfluxDBClient(
    host="localhost",
    #host="10.250.253.16",
    username=auth['username'],
    password=auth['password'],
    port=8086,
    database="coin")

In [10]:
q = 'SELECT count("id") FROM "integration" WHERE time >= 1545630468492ms and time <= 1642993508370ms  GROUP BY time(1h)'
rs = coin_client.query(q)
df = pd.DataFrame(rs.get_points())

In [11]:
df.shape

(27047, 2)

In [7]:
df.head()

                   time  count
0  2018-12-24T03:00:00Z      0
1  2018-12-24T06:00:00Z      0
2  2018-12-24T09:00:00Z      0
3  2018-12-24T12:00:00Z      0
4  2018-12-24T15:00:00Z      0

In [15]:
df.to_csv('integrations.csv', index=False)

In [13]:
df = df.dropna()

In [14]:
df.shape

(27047, 2)